body {
    color: blue;
}

#container{
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 850px;
    height: 850px;
}

#container div {
    background: peachpuff;
    border: 1px solid black;
    height: 50px;
    width: 50px;
}