body {
    color: blue;
}

#container{
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#container div {
    background: peachpuff;
    border: 4 px solid brown;
    height: 100px;
    width: 100px;
}