body {
    color: blue;
}

#container{
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    box-sizing: border-box;
    width: 800px;
    height: 800px;
}

#container div {
    background: hsl(100, 100%, 86%);
    box-sizing: border-box;
    border: 1px solid black;
    height: 50px;
    width: 50px;
}